.Weather {
    color: #212529;
     margin: 80px 20px auto;
  max-width: 800px;
  border-radius: 5px;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.Weather h1 {
    color:  rgb(8, 58, 89);
    line-height: 2;
    font-size: 45px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin: 15px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    list-style: none;
    font-size: 18px;
font-weight: 300;
}

.Weather img {
    width: 80px;
    display: inline-block;
    margin-bottom: 30px;
}

.Weather .temperature {
    font-weight: 500;
    font-size: 64px;
    color: rgb(162, 161, 161);
    line-height: 64px;
}

.Weather .unit {
    position: relative;
    font-size: 18px;
    top: -34px;
    line-height: 1;
        color: rgb(162, 161, 161);
margin-left: -5px;
}

.Weather .search-button {
    background-color: rgb(8, 58, 89);
    color: white;
        font-weight: 500;
transition: all 300ms ease-in-out;
}

.Weather .search-button:hover {
    background-color: rgb(14, 91, 138);
    color: white;
}